html {
  font-size: 14px !important;
}

@media all and (min-width: 601px) {
  html {
    font-size: 16px !important;
  }
}

.paddingMarginZero {
  padding: 0px;
  margin: 0px;
}

/* Fonts */
.userProfileLinkFont {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4390be;
}

.linkSupportingWordFont {
  font-size: 0.9rem;
  color: #c4c4c4;
}

/* Links */
.blueNuxtLinkStyle {
  font-size: 0.9rem;
  color: #4390be;
  text-decoration: none;
  cursor: pointer;
}

.blueNuxtLinkStyleMedium {
  font-size: 1rem;
  color: #4390be;
  text-decoration: none;
  cursor: pointer;
}

.plainNuxtLinkStyle {
  text-decoration: none;
  color: inherit !important;
  cursor: pointer;
}

.reportMenuRowHeight {
  height: 25px;
}

.activityDetailsValueFont {
  font-size: 0.9rem;
  font-weight: 400;
}

.activityDetailsLabelFont {
  font-size: 0.9rem;
  font-weight: 400;
  color: #75757a;
}

.v-card__text,
.v-card__title {
  word-break: normal; /* maybe !important  */
}

.aspectCardStyle {
  border-radius: 25px !important;
  background-color: "#fcfaff" !important;
  overflow-y: auto !important;
}
